@import url(sanitize.css);
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Decol:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Decol:wght@500&family=Klee+One&family=Noto+Serif+JP:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap');


body {
    background-color: #ffffff;
    font-size: 14px;
    font-family: 'Noto Serif JP', serif;
    color: #000000;
    width: 100%;
    overflow-x: hidden;
}
.logo_fadein{
	background: #000000;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 999;
}
.logo_fadein img {
	position: fixed;
	left: 50%;
	top: 40%;
	transform: translate(-50%, -50%);
	display: none;
	z-index: 9999;
	width: 50%;
}

header{
    color: #ffffff; /* 文字色を黒に設定 */
    font-family: 'Kaisei Decol', serif;
    padding: 20px 50px;
    background-color: sparent;
    transition: background-color 0.3s ease;
    width:100%;
    height:70px;
    position:fixed;
    align-items:center;
    display:flex;
    justify-content:space-between;
    animation-name:fadeInAnime;
    animation-duration:1s;
    animation-fill-mode:forwards;
    opacity:0;
    animation-delay: 1s;
    z-index: 10; 
    background-color: rgba(0, 0, 0, 0.95); 
    z-index: 100;
    color: #000;
}
@keyframes fadeInAnime{
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
}
header .logo a{
    font-size: 30px;
    color: #ffffff; /* ロゴのリンクの文字色を黒に設定 */
    text-decoration: none;
}
header .logo a:visited{
    color: #ffffff; /* 訪問済みリンクの文字色を黒に設定 */
    text-decoration: none;
}
.logo_mobile {
    display: none;
}
header .gnav .menu {
    display: flex;
    font-size: 17px;
}
header .gnav .menu li {
    margin-right: 80px;
    position: relative;
}

header .gnav .menu li a {
    color: #ffffff; /* メニューのリンクの文字色を黒に設定 */
    text-decoration: none;
}

header .gnav .menu li a:visited {
    color: #ffffff; /* 訪問済みリンクの文字色を黒に設定 */
    text-decoration: none;
}

header .gnav .menu li::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #000;
    bottom: -5px;
    left: 0;
    transition: width 0.3s ease;
}

header .gnav .menu li:hover::after,
header .gnav .menu li a:focus::after {
    width: 100%;
}
header .gnav .header_item {
    background-color: #ffffff;
}


h2{ 
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    animation-name:fadeInAnime;
    animation-duration:1s;
    animation-fill-mode:forwards;
    opacity:0;
    animation-delay: 1s;
}

h2::after{
    content: "";
    justify-content: center;
    display: block;
    width: 70%;
    height: 0;
    border-bottom: 2px solid #fefefe;
    position: absolute;
    margin-left: 15%;
    
}


.main_image {
    position: relative;
    min-height: 100vh;
    background-image: url('../img/main_back.png');
    background-attachment: fixed;
    width: 100%;
    background-size: cover;
    background-position: center;
    animation-name: fadeInAnime;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main_image img {
    width: 50%;
    max-width: 300px;
    height: auto;
}

.sub_text {
    text-align: center;
    font-size: 5vw;
    font-weight: 500;
    color: #ffffff;
    padding: 10px 0;
    animation-name: fadeInAnime;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
    animation-delay: 1s;
}

@media only screen and (max-width: 600px) {
    .main_image {
        background-image: url('../img/main_mobile.jpg');
    }

    .main_image img {
        width: 70%;
    }

    .sub_text {
        font-size: 6vw;
        padding: 20px 10px;
    }
}

@keyframes fadeInAnime{
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
}

.p_list {
    width: 100%;
    text-align: center;
    font-size: 14px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
}
.p_list a {
    font-size: 30px;
    color: rgb(216, 32, 32);
    font-weight: lighter;
}

.p_list p2 {
    color: rgb(216, 32, 32);
    font-size: 30px;
}

.p_list p3 {
    font-size: 15px;
}

.list_title{
    text-align: center;
    width: 100%;
}

.p_list .image-container {
    text-align: center;
    width: 45%;
}

.p_list .image-container img {
    width: 60%;
    transition:transform 0.3s ease;
}
.image-container img:hover{
    transform:scale(1.1)
}

.p_list .image-container p {
    margin-top: 10px;
    font-size: 17px;
}
.p_list h4{
    font-size: 25px;
}
.p_list p{
    font-size: 5px;
}
.button a{
    background:#eee;
    border-radius: 3px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 4% auto 0;
    max-width: 33%;
    height: 60px;
    padding: 2% 5%;
    color: #242424;
    transition: 0.3s ease-in-out;
    font-weight: lighter;
    font-size: 16px;
    text-decoration: none;
}
.button a:after{
    content: "";
    position: absolute;
    top: 50%;
    bottom:0;
    right: 2rem;
    font-size: 90%;
    display: flex;
    justify-content: center;
    transition: right 0.3;
    width: 6px;
    height: 6px;
    border-top: solid 2px currentColor;
    border-right: solid 2px currentColor;
    transform: translateY(-50%) rotate(45deg);
}
.button a:hover {
    background: #222222;
    color: #FFF;
}
.button a:hover::after{
    right: 1.4rem;
}
.button a:active{
    text-decoration: none;
}

.description{
    text-align: center;
    margin-top: 7%;
    padding-bottom: 7%;
    background-image: url('../img/sub_back.png');
    background-attachment: fixed;
    width:100%;
    background-size: cover;
    background-position: center;
    background-color: rgb(238, 238, 238);
}
.description h2{
    padding:5% 0 5%;
}
.description p{
    font-size: 20px;
    padding:0 21% 0;
}
.description img{
    width:20%
}
.ad_title{
    width: 100%;
}
h3{
    font-weight: 400;
    font-size: 20px;
}
h3::after{
    content: "";
    justify-content: center;
    display: block;
    width: 80%;
    height: 0;
    border-bottom: 1px solid #757575;
    position: absolute;
    margin-left: 10%;
    
}
.ad{
    align-items: center;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1% 0% 0%;
}
.youtube{
    width: 40%;
    height:100%;
    justify-content: center; /* 中央揃え */
    align-items: center; /* 中央揃え */
    box-shadow: 1px 1px 2px rgb(244, 244, 244);
    margin-left: 5%;
    position: relative;
}
.youtube_box{
    width:90%;
    justify-content: center; /* 中揃え */
    align-items: center; /* 中央揃え */
    margin: 0 5% 5%;
}
.youtube img{
    width: 100%;
}
.youtube img:hover {
    transition: filter 0.4s ;
    filter: brightness(50%);
}
.play{
    position: absolute;
    font-size: 60px;
    font-weight: 300;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff95;
    padding: 10px 0;
}

.sns{
    width: 40%;
    justify-content: center; /* 中央揃え */
    align-items: center; /* 中央揃え */
    box-shadow: 1px 1px 2px rgb(244, 244, 244);
    margin-right: 5%;
    position: relative;
}
.twitter_box{
    width:90%;
    justify-content: center; /* 中央揃え */
    align-items: center; /* 中央揃え */
    margin: 0 5% 5%;
}
.login{
    padding-top: 10%;
}
.footer {
    position: relative;
    margin-top: 10%;
    padding: 0 5% 1%;
    display: flex;
    background-color: #ececec;
}

.footer h4 {
    font-size: 30px;
}

.footer p {
    font-size: 15px;
    padding-left: 1rem;
    margin-bottom: 1rem;
}

.footer .footer_content {
    display: flex;
    margin-left: 20%;
    justify-content: space-between;
}
.footer_content li{
    font-size: 15px;
    padding-top:2rem;
    text-decoration: none;
    flex-direction: row;
    position: relative;
    margin-left: 2rem;
}
.footer_content li a{
    color: inherit;
    text-decoration: none;
}
.footer_content li a:active{
    color: inherit;
    text-decoration: none;
}
.footer_content ul {
    display: flex;
    list-style: none;
    padding: 0;
}
.footer_content li::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0.5px;
    background-color: #000;
    bottom: -5px;
    left: 0;
    transition: width 0.3s ease;
}
.footer_content li:hover::after,
.footer li a:focus::after {
    width: 100%;
}
.page-top {
    position: absolute;
    right: 5px;
    top: -100px;
    height: 70px;
    text-decoration: none;
    font-weight: bold;
    font-size: 100%;
    line-height: 1.5rem;
    color: #737373;
    padding: 0 0 0 35px;
    border-right: solid 1px;
    writing-mode: vertical-rl;
    display: flex;
    align-items: center;
}
.page-top a{
    text-decoration: none;
    color: #737373;
}
.page-top a:active{
    text-decoration: none;
    color: #737373;
}
.page-top::before {
    content: "";
    display: block;
    position: absolute;
    top: -1px;
    right: 0px;
    width: 15px;
    border-top: solid 1px;
    transform: rotate(-55deg);
    transform-origin: right top;
}

.last{
    padding: 1rem 5rem 1rem;
    font-size: 10px;
    background-color: #ececec;
}

.history_title{
    text-align: center;
    width: 100%;
    padding-top: 5%;
    animation-name:fadeInAnime;
    animation-duration:1s;
    animation-fill-mode:forwards;
    opacity:0;
    animation-delay: 1s;
    z-index: 10; 
}
@keyframes fadeInAnime{
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
}
.h_list{
    
    animation-name:fadeInAnime;
    animation-duration:1s;
    animation-fill-mode:forwards;
    opacity:0;
    animation-delay: 2s;
    z-index: 10; 
}
@keyframes fadeInAnime{
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
}

.selectbox p{
    font-size: 17px;
    font-weight: 500;
    margin-right: 10px;
}
label{
    margin-right: 10px;
}
label input{
    display: none;
}
label span {
    color: #000000; /* 文字色を黒に */
    background-color: #f2f2f2;
    font-size: 14px; /* 文字サイズを14pxに */
    border: 0.5px solid #333; /* 淵の線を指定 */
    border-radius: 1px; /* 角丸を入れて、左右が丸いボタンにする */
    padding: 5px 20px; /* 上下左右に余白をトル */
    transition: background-color 0.3s ease;
}
label input:checked + span {
    color: #FFF; /* 文字色を白に */
    background: rgb(27, 27, 27); /* 背景色を薄い赤に */
    border: 2px solid rgb(116, 116, 116); /* 淵の線を薄い赤に */
}
label :hover{
    background-color: #9c9c9c;
    color: #454545;
}
.selectbox {
    display: inline-flex;
    align-items: center;
    position: relative;
}
.selectbox::after {
    position: absolute;
    left: 215px;
    width: 10px;
    top: 27px;
    height: 7px;
    background-color: #535353;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    content: '';
    pointer-events: none;
}

.selectbox select {
    appearance: none;
    min-width: 150px;
    height: 2.8em;
    padding: .4em calc(.8em + 30px) 0em .8em;
    border: none;
    border-bottom: 2px solid #d0d0d0;
    background-color: #fff;
    color: #333333;
    font-size: 1em;
    cursor: pointer;
    margin-right: 10px;
}

.selectbox select:focus {
    outline: none;
}
.h_list {
    width: 100%;
    text-align: center;
    font-size: 20px;
    display: flex;
    margin-left: 5%;
    align-items: flex-start; /* align items to the start */
    flex-wrap: wrap;
    margin-top: 50px;
}

.h_list a {
    font-size: 10px;
    font-weight: lighter;
}
.h_list a1 {
    font-size: 15px;
    font-weight: lighter;
}

.h_list p1 {
    font-size: 22px;
    font-weight: 600;
}

.h_list p2 {
    font-size: 15px;
}

.h_list p3 {
    font-size: 12px;
}

.h_list .content_list {
    padding: 5% 0% 3%;
    text-align: center;
    align-items: center;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-top:.5px solid #171717;
    line-height: 1;
}

.h_list .content_list p1,
.h_list .content_list p2,
.h_list .content_list p3 {
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
}

.content_list img {
    transition: transform 0.3s ease;
}

.content_list img:hover {
    transform: scale(1.1);
}

.h_manage{
    font-size: 10px;
    font-weight: lighter;
}


table {
    width: 90%;
      border-collapse: collapse;
      margin-top: 20px;
}
table, th, td {
    border: 1px solid #ddd;
}
th, td {
    padding: 8px;
      text-align: left;
}
th {
      background-color: #f2f2f2;
}
@media only screen and (max-width: 600px) {
    body {
        font-size: 12px;
    }
    .logo_mobile{
        display:flex;
        position: absolute;
        z-index:500 ;
        color: #fff;
    }
    .logo_mobile a{
        font-size: 30px;
        color: #fff;
        text-decoration: none;
    }
    .logo_mobile a:visited{
        color: inherit;
        text-decoration: none;
    }
    header {
        display: none;
        padding: 10px 20px;
        height: auto;
        flex-direction: column;
        align-items: flex-start;
        animation-delay: 0s;
        background-color: rgba(255, 255, 255, 0.95); /* スクロール後の背景色 */
        z-index: 100;
        color: #000;
    }


    .menu-icon {
        display: block;
        position: fixed;
        top: 10px;
        right: 10px;
        width: 30px;
        height: 30px;
        background-color: rgba(255, 255, 255, 0);
        cursor: pointer;
        z-index: 100;
    }

    .menu-icon div {
        width: 90%;
        height: 2px;
        background-color: #9e9e9e;
        margin: 7px 0;
    }

    .menu-icon.active + .gnav {
        display: flex;
    }

    header .logo {
        font-size: 24px;
        margin-bottom: 10px;
    }

    header .gnav .menu {
        flex-direction: column;
        align-items: flex-start;
    }

    header .gnav .menu li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .main_image {
        min-height: 700px;
        
        scale: 0.999;
        background-image:url('../img/main_mobile.jpg');
        background-attachment: fixed;
        width:100%;
        background-size: cover;
        background-position: center;
        animation-name:fadeInAnime;
        animation-duration:1.5s;
        animation-fill-mode:forwards;
        opacity:0;
    }
    @keyframes fadeInAnime{
        from {
          opacity: 0;
        }
      
        to {
          opacity: 1;
        }
    }

    .sub_image {
        width: 50%;
        right: 0%;
        bottom: 80%;
        scale: 0.5;
    }

    .sub_text {
        font-size: 20px;
        width: 80%;
        left: 10%;
        top: 10%;
    }

    .p_list {
        flex-direction: column;
        align-items: center;
    }

    .p_list .image-container {
        width: 90%;
        margin-bottom: 20px;
    }

    .p_list .image-container img {
        width: 100%;
    }

    .button a {
        max-width: 80%;
        height: 50px;
        font-size: 14px;
    }

    .description {
        padding: 5% 10%;
    }

    .description p {
        padding: 0;
    }

    .ad {
        flex-direction: column;
        align-items: center;
    }

    .youtube, .sns {
        width: 90%;
        margin-bottom: 20px;
    }

    .footer {
        flex-direction: column;
        align-items: center;
        padding: 0 0% 1%;
    }

    .footer_content {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }

    .footer_content li {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .page-top {
        position: relative;
        top: 0;
        left:100px;
        margin: 20px 0 0;
    }
    .history_title {
        padding-top: 10%;
    }

    .selectbox {
        flex-direction: column;
        align-items: flex-start;
    }

    .selectbox select {
        width: 100%;
    }

    .selectbox label {
        width: 100%;
        margin: 20px 0px 2px;
    }
    .selectbox button {
        width: 100%;
        margin: 20px 2px 2px;
    }
    label span {
        color: #000000; /* 文字色を黒に */
        background-color: #f2f2f2;
        font-size: 14px; /* 文字サイズを14pxに */
        border: none; /* 淵の線を指定 */
        border-radius: 1px; /* 角丸を入れて、左右が丸いボタンにする */
        padding: 5px 20px; /* 上下左右に余白をトル */
        transition: background-color 0.3s ease;
    }

    .selectbox::after {
        display: none;
    }

    .h_list .content_list {
        align-items: center;
        text-align: center;
        width: 90%;
        padding: 20px 5% 20px;
    }

    .h_list .content_list img {
        width: 90%;
    }
    .instagram {
        width: 60%;
        max-width: 500px;
        margin: 0 auto;
    }
    
    .insta_box {
        width: 100%;
    }
    
    .insta_box img {
        width: 100%;
        height: auto;
    }
}


